.Container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 200px;
}

.Title {
  font-weight: bold;
}

.Container > * {
  margin: 2px;
  text-align: center;
  width: 30px;
}
