.Table {
  border: gray solid 2px;
  border-collapse: collapse;
  margin: 12px auto;
}
.SortableColumn{

}

.SortableColumn:hover{
  background-color: hotpink;
  cursor: pointer ;
}

.Header {
  background: lightcyan;
}

.Row > td,th {
  border: deeppink solid 1px;
  text-align: center;
  padding: 16px;
}
