.Container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.SuccessMessage {
  text-align: center;
  font-weight: bold;
  color: forestgreen;
  margin-top: 25px;
}

.ErrorMessage {
  text-align: center;
  font-weight: bold;
  color: red;
  margin-top: 25px;
}
