.Menu {
  margin-top: 16px;
}

.Menu > a:hover,
.Active {
  background-color: aliceblue;
  color: darkgray;
  cursor: pointer;
}

.Menu > a {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
  margin-top: 16px;
  text-decoration: none;
  color: #1d181c;
}
