
.Button {
    background: linear-gradient(pink, hotpink);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 5rem;
}

.Button:hover {
    opacity: 0.8;
}

.Container {
    padding: 16px;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
}

.Form {
    border: 3px solid #f1f1f1;
    padding: 12px;
}