.Input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Validate{

    text-align: center;
    color:#ff76a6;
    font-weight: bold;
    font-size: small;

}