.Button {
  background-color: pink;
  line-height: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 8px;
  margin: 0 2px;
}

.Button:hover {
  background-color: deeppink;
  cursor: pointer;
}
